// app global css in SCSS form
@font-face {
    font-family: wizardFont;
    src: url(/fonts/harryp/HARRYP__.TTF);
}

$clr-bg: hsl(359, 100%, 13%);
$clr-dark: #111;

body {
    color: $white-warm;
    background: linear-gradient(0deg, $clr-bg, $clr-dark);
}

.text-wizard {
    font-family: wizardFont;
}

.bg-blur {
    backdrop-filter: blur(6px);
    background: transparent;
}

.text-link,
.text-link:visited {
    color: $primary;
    border-bottom: 1px solid $primary;
    text-decoration: none;
}

.q-field--outlined .q-field__control:before {
    border: 1px solid $secondary;
}

.q-field {
    color: $white-warm;
}

// HACK to make autocomplete not give nasty background 
// https://forum.quasar-framework.org/topic/6099/form-input-autofill-background-color-in-chrome/7
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: white;
    -webkit-box-shadow: 0 0 0 1000px $dark-page inset !important;
    transition: background-color 300ms ease-in-out 0s;
}

.q-field--outlined .q-field__control:before {
    z-index: 1;
}
