// app global css in SCSS form
@font-face {
  font-family: wizardFont;
  src: url(/fonts/harryp/HARRYP__.TTF);
}

.text-wizard {
  font-family: wizardFont;
}

.bg-blur {
  backdrop-filter: blur(6px);
  background: transparent;
}

.text-link,
.text-link:visited {
  color: $primary;
  border-bottom: 1px solid $primary;
  text-decoration: none;
}
